body {
    background-color: rgb(255, 255, 255);
}
#banner {
    width: 100%;
}

header{

}

.titulo_centralizado {
    text-align: center;
}

p {
    text-align: center;

}

#missao {
    font-size: 20px;
}

em strong{
    color: crimson;
}

.itensLista1 {
    font-style: italic;
}

.introducao{
    background-color: gray;
}

.beneficios{
    background-color: white;
}
.titulo_principal{
    padding-left: 20px;
}
ul{
    font-size: 18px;
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

.corteaovivo{
    width: 50%;
}