header {
    background-color: darkgray;
    padding: 20px;
}
body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav li {
    display: inline; 
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

nav a:hover{
    color: darkgoldenrod;
    text-decoration:underline;
}
body {
    background-color: rgb(255, 255, 255);
}
.banner {
    width: 100%;
}


.titulo_centralizado {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 1em 0;
    clear: left;
}


.introducao{
padding: 3em 0;
background-color: blanchedalmond;
width: 940px;
margin: 0 auto;
}

.introducao p {
    margin: 0 0 1em 0;
}

.introducao strong {
    font-weight: bold;
}

.introducao em {
    font-style: italic;
}

p {
    text-align: center;

}

#missao {
    font-size: 20px;
}

em strong{
    color: crimson;
    font-weight: bold;
}

.itensLista1 {
    font-style: italic;
    line-height: 1.5;
}
.itensLista1:first-child{
    font-weight: bold;
}
.itensLista1::before{
    content: "★";
}

.introducao{
    background-color: white;

}

.beneficios{
    background-color: white;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.titulo_principal{
    padding-left: 20px;
}
.ul1{
    font-size: 18px;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.corteaovivo{
    width: 60%;
    opacity: 70%;
    transition: 1s;
}

.corteaovivo:hover{
    width: 60%;
    transition: 1s;
    opacity: 100%;
    box-shadow: 10px 10px 20px black;
}
footer {
    background: url(bg.jpg);
    text-align: center;
    padding: 40px 0;
}
.copyright{
    color: white;
    margin-top: 20px;
    font-size: 13px;
}
.beneficios {
    padding: 3em 0;
    background: gray;


}
.mapa{
    padding: 3em 0;
    background: linear-gradient(white,gray);


}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.mapa p{
    padding: 0 0 2em;
}
.video{
    margin: 1em auto;
    text-align: center;
}


.conteudo-beneficios{
    margin: 0 auto;
    width: 640px;
}

@media screen and (max-width: 480px){
    .caixa,.introducao,.mapa-conteudo,.conteudo-beneficios,.video{
        width: 100%;
    }

    nav{
        position: static;
        text-align: center;
        width: 100%;
    }
    
    h1{
        text-align: center;
        display: block;
    }

    .ul1,.corteaovivo{
        display: block;
        width: 100%;
    }


}