header {
    background-color: darkgray;
    padding: 20px;
    height: 253px;
    
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav li {
    display: inline; 
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

nav a:hover{
    color: darkgoldenrod;
    text-decoration:underline;
}


.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 20px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border:3px black solid;
    border-radius: 10px;
}

.produtos li:hover{
    border:3px darkgoldenrod solid;
    border-radius: 10px;
}
.produtos li:hover h2{
    font-size: 34px;
}

.produtos li:active{
    border:3px green solid;
    border-radius: 10px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
    font-weight:lighter;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;

}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
    
}
.input-padrao{
    display: block;
    margin: 0 0 20px 0;
    padding: 5px 5px 5px 5px;
    width: 50%;
}
.check-box{
    margin: 10px 0px;
}

.enviar{
    width: 30%;
    padding: 15px;
    color: white;
    background-color: darkgoldenrod;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    transform: scale(1);
    transition: 1s all;
}

.enviar:hover{
    border: darkgreen solid;
    border-width: 2px;
    background-color: rgb(230, 167, 8);
    cursor: pointer;
    transform:scale(1.05);
    transition: 1s all;
}

footer {
    background: url(bg.jpg);
    text-align: center;
    padding: 40px 0;
}
.copyright{
    color: white;
    margin-top: 20px;
    font-size: 13px;
}

table{
    margin: 20px;
}

thead{
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: solid black 1px;

}

td{
    padding: 10px;
    border: solid black 1px;
}